/*
	Theme  Name: Wordpress website 
	Auther: Salma Hammad	
	Auther uri: 
	Discription: dummy 
	Version: 1.0

*/
@import url('bootstrap/css/bootstrap.css'); 
@import url('bootstrap/css/bootstrap-responsive.css'); 
html{
    margin: 0; important
    padding: 0; important
}
body{
    background-color:lightgray;
}
.post_title{
    font-size: 30px;
    font-family: sans-serif;
}
.single_post{
    height: 100%;
    padding: 3%;
    margin: 3%;
    background-color:beige;
}
.single_post {
    border-radius: 25px;
}
p {
    line-height: 25px;
    font-family: sans-serif;
    font-size: 1.2em;
    color:darkblue;
}
.wrapper {
    padding: 1%;
    height:auto !important;
    height:100%;
    overflow: hidden !important; /* FF scroll-bar */ 
    width: 100%; 
    margin-top: 0;
   
}
.categories{
    color: darkgrey;
    text-decoration: none;
    text-transform: capitalize;
}
.navigation{
    list-style: none;
    width:100%;
    height: 32px;
    padding-left: 3%;
    padding-bottom: 3%;
}
.navigation li{
    float: left;
    padding: 10px;
}
.navigation li a{
    color: #333;
    font-size: 20px;
}
.navigation li a:hover{
    color:yellowgreen;
    background-color: whitesmoke;
    border-radius: 10%;
}
table .thead-light{
    background-color: lightgray;
}